.createBook_form {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
}

.createBook_title {
    height: 40px;
    width: 350px;
    padding: 0.25rem 0.75rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    border: solid 1px #B2B2B2;
}

.createBook_body {
    resize: none;
    font-size: 1.5;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    border: solid 1px #B2B2B2; 
}

.createBook_button {
    width: 200px;
}

.button_link {
    text-decoration: none;
}